* {
    margin: 0;
    padding: 0;
}


a {
    color: inherit;
    text-decoration: none;
}

body{
    background-color:#e0e0e0!important;
}

.article{
    margin: 10px auto;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 2px 2px grey;
}

.article .article-item{
    margin-top: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding: 4px 10px;
}

.article .article-item .article-header{
    font-size: 2em;
    font-weight: 1.5em;
    display:inline-block;
    color:#444;
    vertical-align: top;
}

/* 设置文章的预览 */
.article .article-item .article-views{
    padding: 2px auto;

}

.article .article-item .article-info ul{
    list-style-type: none;
}

.article .article-item .article-info ul li{
    display: inline-block;
    padding-right: 10px;
}

.panginator {
    width: 100%;
    height: 75px;
    text-align: center;
    background-color: #fff;
    text-align: center;
    line-height: 2em;
    font-size: 18px;
    margin: 0 auto;
}

.panginator .panginator-ul{
    margin: 10px auto!important;

   display: inline-block;
}

.panginator .page-info{
    margin: 0 auto;
    clear: both;
}

.panginator .panginator-ul li{
    display:inline;
    
} 

 .panginator .panginator-ul li a{
    padding: 3px 6px;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: -1px;
    position: relative;
    float:left;
   
}

/* .panginator .panginator-ul li {
    display:inline-block;
    padding: 6px 12px;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: -1px;
    position: relative;
    float:left;
   
} */

.footer{
    margin-top: 20px ;
    width: 100%;
    background-color: #23262b;
    color: #ccc;
    font-size: 15px;
    line-height: 20px;

}

.footer .copyright{
    margin: 1.5em auto;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #303b;

}


.article-detail-group {
    background-color: #fff;
    font-size: 18px;
    line-height: 1.5em;
    padding: 10px 30px;
    border-radius: 5px;
}

.article-detail-group .article-detail-header{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.article-detail-group .article-detail-header ul{
    list-style-type: none;
    display:inline-block;
}

.article-detail-group .article-detail-header ul li{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    color: #ccc;
    
}

.article-detail-group .article-detail-content{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5em;
}

.article-detail-group .article-detail-copyright{
    margin: 2em 0 0;
    padding: 0.5em 2em;
    border-left: 3px solid #ff1700;
    background-color: #f9f9f9;
}  

.article-detail-group .article-detail-other{
    margin: 2em 0;
}

.article-detail-group .article-detail-other ol{
    /* list-style-type: none; */
    padding-left : 2em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

/* 文章评论区域 */
.article-detail-comment{
    margin-top: 2em;
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5em;
    padding: 10px 30px;
    border-radius: 5px;
}

.article-detail-comment .commet-put,.comment-list
{
    margin-bottom: 2em;
    padding: 1em 1em;
    font-size: 15px;
    border-top: 1px solid #ccc;
}

.list-detail-group {
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5em;
    padding: 10px 30px;
    border-radius: 5px;
}

/* 右侧导航栏的内容 */
.side-bar-ol {
    padding-left: 1em;
}

.side-bar-ol li{
    padding-top: 3px;
}

.side-bar-ul {
    padding-left: 1em;
    list-style-type: none;
}

.side-bar-ul li {
    width: 45%;
    color:white;
    padding-top: 3px;
    display: inline-block;
    padding: 3px;
    padding-right: 5px;
    line-height: 1.5em;
    background-color: rgba(14, 13, 14, 0.733);
    margin: 4px 0;
    text-align: center;
}

.side-bar-ul  li:nth-child(9n) {  
    background-color: #4A4A4A;  
}  
.side-bar-ul  li:nth-child(9n+1) {  
    background-color: #428BCA;  
}  
.side-bar-ul  li:nth-child(9n+2) {  
    background-color: #5CB85C;  
}  
.side-bar-ul  li:nth-child(9n+3) {  
    background-color: #D9534F;  
}  
.side-bar-ul  li:nth-child(9n+4) {  
    background-color: #567E95;  
}  
.side-bar-ul  li:nth-child(9n+5) {  
    background-color: #B433FF;  
}  
.side-bar-ul  li:nth-child(9n+6) {  
    background-color: #00ABA9;  
}  
.side-bar-ul  li:nth-child(9n+7) {  
    background-color: #B37333;  
}  
.side-bar-ul  li:nth-child(9n+8) {  
    background-color: #FF6600;  
}  


.content-body{
    margin-top: 4em;
}