* {
    margin: 0;
    padding: 0;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body{
    background-color:#e0e0e0!important;
}

.article{
    margin: 10px auto;
    /* border: 1px solid #fff; */
    border-radius: 4px;
    background-color: #e0e0e0;
    /* box-shadow: 2px 2px grey; */
}

.article .article-item{
    margin-top: 9px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 4px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px #999;
    /* height: 200px; */

}

.article .article-item .article-header{
    font-size: 2em;
    font-weight: 1.5em;
    display:inline-block;
    color:#444;
    vertical-align: top;
    margin: 10px auto;
}

/* 设置文章的预览 */
.article .article-item .article-views{
    padding: 2px auto;

}

.article .article-item .article-info{
    color: #333;
    margin-top:7px;
}
.article .article-item .article-info a{
    color: #337ab7;
}

.article .article-item .article-info a:hover{
    transform: scale(1.5);
    color: red;
}

.article .article-item .article-info ul{
    list-style-type: none;
    margin: 5px auto;
}

.article .article-item .article-info ul li{
    display: inline-block;
    padding-right: 10px;
}

.panginator {
    width: 100%;
    height: 75px;
    text-align: center;
    background-color: #fff;
    text-align: center;
    line-height: 2em;
    font-size: 18px;
    margin: 0 auto;
}

.panginator .panginator-ul{
    margin: 10px auto!important;

   display: inline-block;
}

.panginator .page-info{
    margin: 0 auto;
    clear: both;
}

.panginator .panginator-ul li{
    display:inline;
    
} 

 .panginator .panginator-ul li a{
    padding: 3px 6px;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: -1px;
    position: relative;
    float:left;
   
}

/* .panginator .panginator-ul li {
    display:inline-block;
    padding: 6px 12px;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-left: -1px;
    position: relative;
    float:left;
   
} */

.footer{
    margin-top: 20px ;
    width: 100%;
    background-color: #23262b;
    color: #ccc;
    font-size: 15px;
    line-height: 20px;

}

.footer .copyright{
    margin: 1.5em auto;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #303b;

}

.detail-body{
    position: relative;
    top: 50PX;
}


.article-detail-group {
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5em;
    padding: 10px 30px;
    border-radius: 5px;
}

.article-detail-group .article-detail-header{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.article-detail-group .article-detail-header ul{
    list-style-type: none;
    display:inline-block;
}

.article-detail-group .article-detail-header ul li{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    color: #ccc;
    
}

.article-detail-group .article-detail-content{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px!important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.5em;
}

.article-detail-group .article-detail-content ul,ol{
    /* list-style-position: inside; */
    /* padding-left: 10px; */
    padding-inline-start: 1em;
}

/* .article-detail-group .article-detail-content pre{
    background-color: inherit;
} */

.article-detail-group .article-detail-copyright{
    margin: 2em 0 0;
    padding: 0.5em 2em;
    border-left: 3px solid #ff1700;
    background-color: #f9f9f9;
}  

.article-detail-group .article-detail-other{
    margin: 2em 0;
}

.article-detail-group .article-detail-other ol{
    /* list-style-type: none; */
    padding-left : 2em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

/* 文章评论区域 */
.article-detail-comment{
    margin-top: 2em;
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5em;
    padding: 10px 30px;
    border-radius: 5px;
}


.article-detail-comment .commet-put,.comment-list
{
    margin-bottom: 2em;
    padding: 1em 1em;
    font-size: 15px;
    border-top: 1px solid #ccc;
}

.list-detail-group {
    background-color: #fff;
    font-size: 15px;
    line-height: 1.5em;
    padding: 10px 30px;
    border-radius: 5px;
}

/* 右侧导航栏的内容 */
.side-bar-ol {
    padding-left: 1em;
}

.side-bar-ol li{
    padding-top: 3px;
}

.side-bar-ul {
    padding-left: 1em;
    list-style-type: none;
}

/* .side-bar-ul li {
    width: 45%;
    color:white;
    padding-top: 3px;
    display: inline-block;
    padding: 3px;
    padding-right: 5px;
    line-height: 1.5em;
    background-color: rgba(14, 13, 14, 0.733);
    margin: 4px 0;
    text-align: center;
} */

.side-bar-ul li {
    display: inline-block ;
    
    width: 45%; 
    line-height: 1.5em;
    margin: 2px 0;
    border-radius: 9px;
}

.side-bar-ul li  a{
    
    color:white;   
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px 2px;
    border-radius: 9px;
    /* background-color: rgba(14, 13, 14, 0.733); */
    text-align: center;
}

.side-bar-ul li a:hover{
    color: white;
    background-color: black;
}
.side-bar-ul  li:nth-child(9n) {  
    background-color: #4A4A4A;  
}  
.side-bar-ul  li:nth-child(9n+1) {  
    background-color: #428BCA;  
}  
.side-bar-ul  li:nth-child(9n+2) {  
    background-color: #5CB85C;  
}  
.side-bar-ul  li:nth-child(9n+3) {  
    background-color: #D9534F;  
}  
.side-bar-ul  li:nth-child(9n+4) {  
    background-color: #567E95;  
}  
.side-bar-ul  li:nth-child(9n+5) {  
    background-color: #B433FF;  
}  
.side-bar-ul  li:nth-child(9n+6) {  
    background-color: #00ABA9;  
}  
.side-bar-ul  li:nth-child(9n+7) {  
    background-color: #B37333;  
}  
.side-bar-ul  li:nth-child(9n+8) {  
    background-color: #FF6600;  
}  


/* 文章的目录 */
.right-show-toc ul{
    padding-inline-start: 1em;
}

.content-body{
    margin-top: 4em;
    min-height: 70vh;
}

.like {
    position: fixed;
    font-size: 15px;
    color: #ccc;

}

#toTop{
    width: 50px;
    height: 50px;
    position: fixed;
    right:50px;
    bottom: 50px;
    background-color: rgba(100, 100, 100, 0.4);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 50px;

}

/* 首页的图标 */
.span-icon{
    padding-right: 6px; 
    font-size: 18px;
    top: 3px;

}


/* 二级菜单css样式  开始 */
.header-ul{
    position: absolute;
    list-style-type: none;
    background-color:  rgba(0,0,0, 0);
    display: none;  
}

.header-ul li{
    display: list-item;
    margin: auto;
    width: 100px;
    text-align: center;
    line-height: 30px;
    border-top: 5px solid rgba(0,0,0, 0.2);
    background-color: #e7e7e7;
    color: #333;
    border-radius: 4px;
}
.header-ul li>a{
    display:block;
    width: 100%;    
    text-decoration: none;
}

.header-ul li>a:hover {
    background-color: #000;
    color:white;
    border-radius: 4px;
}

.nav-item {
    min-width: 80px;
    text-align: center;
}

.header-item:hover>ul {
    display:list-item;
}
/* 二级菜单css样式  结束 */

.form-style {
    background-color: #fff;
    margin: 50px auto;
    margin-top: 50px;
    padding: 20px 30px;
    font-size: 18px;
    min-height: 40vh;
    min-width: 250px;
    max-width: 300px;
    border-radius: 5px;
    vertical-align: middle;
}

/* 文章的评论区域 */
.commet_list {
    background: #ddd;
    border-radius: 5px;
    padding: 8px 10px ;
    border-left: 5px solid #55d620e6;
    box-shadow: 3px 3px 2px #5a455a;
}

.comment_childrens{
    background: #ddd;
    border-radius: 5px;
    padding: 8px 10px;
    border-left: 5px solid #55d620e6;
    margin-left: 20px ;
    margin-top: 7px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 5px #5a455a;
}

.comment-list-button{
    width: 100%;
    text-align: right;
}
.button-right{
    width: 100px;
}

/* 解决图片过大的问题 */
.article-detail-comment .commet-put, .comment-list img {
    max-width: 100%;
}
.article-detail-group img{
    max-width: 100%;
}

/* 设置超链接的颜色和样式 */
.article-detail-group a{
    color: #337ab7;
}

/* 设置表格样式  */
.article-detail-content td,th{
    border: 1px solid #95985a;
    padding: 2px 10px;
}

.dropdown-menu li {
    z-index: 100;
}


/* 设置字体 */
.m-header-font{
    font-size:16px !important;
}

.m-header-button{
    margin:4px auto !important;
    position: relative;
    
}

.m-admin-ul{
    position: fixed;
    display: block;
    min-width: 5em;
    /* margin-top: 3em; */
    list-style-type: none;
    z-index: 10;
}

.m-admin-li a{
    display: block;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: rgba(199, 199, 199, 0.8);
    border-bottom: 2px solid rgb(146, 146, 146);
}


/* 设置首页显示的文章的图片大小 */
.article-img-show{
    max-width: 100%;
    max-height: 100%;
    height: 150px;
}

/* ----------设置自已的一些样式-------------- */
.m-fillh{
    height: 100%;
}

.m-fillw{
    width: 100%;
}

.m-fill{
    width: 100%;
    height: 100%;
}

.m-center{
    margin: auto;
}

.m-middle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.m-border{
    border: 1px solid black;
}

.m-radius{
    border: 0px solid black;
    border-radius: 10px;
}

.m-item{
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 3px 2px 5px #00ABA9;
    min-height: 200px;
    height: 200px;
    width: 100%;
    margin-bottom: 1em;
    background-color: #fff;
    padding: 1em .5em;
}

.m-title{
    margin: auto;
    padding-left: 1em;
    text-align: left;
    font-size: 21px;
    font-weight: 200;
    height: 20%;
}

.m-content{
    height: 60%;
    padding: .6em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
}

.m-info{
    height: 20%;
    bottom: 0;
}

.m-img{
   width: 100%;
   width: 100%;
}

.m-ul-inline{
    list-style-type: none;
    margin: 5px auto;
}

.m-ul-inline li{
    display: inline;
    margin:  auto .5em;
}

/* 设置手机端 */
@media screen and (max-width: 760px){
    .m-admin-ul{
        z-index: 1000 !important;
        max-width: 93% !important;
    }

    .m-header-button{
        position: relative;
        
    }

    .m-moblie-width{
        width: 100% !important;
    }
}
