{% extends "base.html" %}
{% load staticfiles %}


<!-- 拓展标题 -->
{% block title %} 刘龙韬的博客-文章：{{ essay.title }} {% endblock title %}
<!-- 拓展标题结束 -->
<!-- 拓展文章详情页 -->
{% block body%}
<div class="col-md-9" >
        <div class="row ">
            <!-- 文章详细页面 -->
            <div class="col-md-12 article-detail-group">
                    <!-- 文章的标题 -->
                    <div class="article-detail-header">
                        <h3>{{ essay.title }}</h3>
        
                        <!-- 文章的作者、分类等 -->
                        <div class="article-detail-auth">
                            <ul>
                                <li>日期: {{ essay.created_time|date:"Y/m/d"}}</li>
                                <li>作者: <a href="#"> {{ essay.author }}</a></li>
                                <li>分类: <a
                                        href="{% url 'article:category' essay.category.urlname %}">{{  essay.category }}</a>
                                </li>
                                <li>阅读: {{ essay.views}}</li>
                            </ul>
                        </div>
                    </div>
        
                    <!-- 文章内容 -->
                    <div class="article-detail-content">
                        <!-- 在article的后面加入safe过滤器 -->
                        {{ essay.context|safe }}
                    </div>
        
                    <!-- 版权说明 -->
                    <div class="article-detail-copyright">
                        <ul>
                            <li><strong>网站名称: </strong><a href="http://www.liulongtao.com/">刘龙韬的博客</a></li>
                            <li><strong>本文链接: </strong><a
                                    href="{% url 'article:detail' essay.id %}">www.liulongtao.com/aritcle/{{ essay.id }}</a>
                            </li>
                            <li><strong>版权声明: </strong>未经允许，禁止转载！</li>
                        </ul>
                    </div>
        
                    <!-- 其他文章 -->
                    <div class="article-detail-other">
                        <h3>相关文章：</h3>
                        <ol>
                            <li><a href="#">第一篇文章</a></li>
                            <li><a href="#">第二篇文章</a></li>
                            <li><a href="#">第三篇文章</a></li>
                            <li><a href="#">第四篇文章</a></li>
        
                        </ol>
                    </div>
                </div>
        
            <!-- 文章评论 -->
            <div class="col-md-12 article-detail-comment">
                <!-- 提交评论 -->
                <h3>提交评论</h3>
                <div class="commet-put">
                    <!-- <p>请先登录后进行评论</p> -->
    
    
    
                </div>
                <!-- 全部评论 -->
                <h3>评论列表</h3>
                <div class="comment-list">
                    <!-- <p>该文章没有评论，赶紧进行评论吧！</p> -->
                    <!-- <h4>共有{{ comments.count }}评论</h4>
                    <div>
                        {% for comment in comments %}
                        <hr>
                        <p>
                            <strong style="color: pink">
                                {{ comment.user }}
                            </strong> 于
                            <span style="color: green">
                                {{ comment.created|date:"Y-m-d H:i:s" }}
                            </span> 时说：
                        </p>
                        <pre style="font-family: inherit; font-size: 1em;">
                                {{ comment.body }}</pre>
                        {% endfor%}
                    </div> -->
    
                    <h4>共有{{ comments.count }}条评论</h4>
                    <div class="row">
    
    
                    </div>
    
    
    
                </div>
            </div>
        </div>
    </div>

   
{% endblock %} 
{% block right-menu-add %}
    
    <div class="panel panel-default ">
        <div class="panel-heading">
            目录
        </div>
        <div class="panel-body ">
            <div class="right-show-toc">
                {{ essay.toc|safe }}
            </div>
            
        </div>
    </div>

{% endblock right-menu-add %}