{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 注册 {% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-4 form-style">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ forms.username.id_for_tag }}">用户名</label><br>
                {{ forms.username }}
                {{ forms.username.error }}

            </div>
            <div class="form-group">
                <label for="{{ forms.email.id_for_tag }}">邮箱</label>
                {{ forms.email }}
                {{ forms.email.error }}
            </div>
            <div class="form-group">
                <label for="{{ forms.password1.id_for_tag }}">密码</label>
                {{ forms.password1 }}
                {{ forms.password1.error }}
            </div>

            <div class="form-group">
                <label for="{{ forms.password2.id_for_tag }}">确定密码</label>
                {{ forms.password2 }}
                {{ forms.password2.error }}
            </div>


            <input type="hidden" name="next_page" value={{next_page}}>
            <button type="submit" class="btn btn-primary">注册</button>
            <a href="{% url 'users:login' %}"><button type="button" class="btn btn-primary">登录</button></a>

        </form>


    </div>



</div>

{% endblock %}

{% block right-menu-add %}
{% endblock %}