{% extends "base.html" %}
{% load staticfiles %}

<!-- 返回的关键字 -->
{% block head_descript %}
<meta name="Description" content="{{ essay.context|truncatechars:200 }}">
{% endblock %}


<!-- 拓展标题 -->
{% block title %} 刘龙韬的博客-文章：{{ essay.title }} {% endblock title %}
<!-- 拓展标题结束 -->
<!-- 拓展文章详情页 -->
{% block body%}
<div class="col-md-9">
    <div class="row ">
        <!-- 文章详细页面 -->
        <div class="col-md-12 article-detail-group">
            <!-- 文章的标题 -->
            <div class="article-detail-header">
                <h3>{{ essay.title }}</h3>

                <!-- 文章的作者、分类等 -->
                <div class="article-detail-auth">
                    <ul>
                        <li>日期: {{ essay.created_time|date:"Y/m/d"}}</li>
                        <li>作者: <a href="#"> {{ essay.author }}</a></li>
                        <li>分类: <a href="{% url 'article:category' essay.category.urlname %}">{{  essay.category }}</a>
                        </li>
                        <li>阅读: {{ essay.views}}</li>
                    </ul>
                </div>
            </div>

            <!-- 文章内容 -->
            <div class="article-detail-content">
                <!-- 在article的后面加入safe过滤器 -->
                {{ essay.context|safe }}
            </div>

            <!-- 版权说明 -->
            <div class="article-detail-copyright">
                <ul>
                    <li><strong>网站名称: </strong><a href="http://www.liulongtao.com/">刘龙韬的博客</a></li>
                    <li><strong>本文链接: </strong><a
                            href="{% url 'article:detail' essay.id %}">www.liulongtao.com/aritcle/{{ essay.id }}</a>
                    </li>
                    <li><strong>版权声明: </strong>未经允许，禁止转载！</li>
                </ul>
            </div>

            <!-- 其他文章 -->
            <div class="article-detail-other">
                <h3>相关文章：</h3>
                <ol>
                    <li>
                        <label>上一篇：</label>
                        {% if pre_blog %}
                        <a href="{% url 'article:detail' pre_blog.id %}">{{ pre_blog.title }}</a>
                        {% else %}
                        不存在
                        {% endif %}
                    </li>
                    <li>
                        <label>下一篇：</label>
                        {% if next_blog %}
                        <a href="{% url 'article:detail' next_blog.id %}">{{ next_blog.title }}</a>
                        {% else %}
                        不存在
                        {% endif %}
                    </li>

                </ol>
            </div>
        </div>

        <!-- 文章评论 -->
        <div class="col-md-12 article-detail-comment">
            <!-- 提交评论 -->
            <h3>提交评论</h3>
            <div class="commet-put">
                <!-- <p>请先登录后进行评论</p> -->


                {% if request.user.is_authenticated%}
                <!-- 将post改为json传输数据的形式 -->
                <form id="comment_sent" action="{% url 'article:detail' essay.id %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label> 评论内容</label>
                        <div>
                            <!-- {{ formtext.context }}
                            {{ formtext.context.error }} -->
                            {{ formtext.media }}
                            {{ formtext.as_p }}
                        </div>
                        <span class="text_danger pull-left" id="comment_error"></span>
                        <button type="button" id="btn_comment" class="btn btn-primary pull-right">提交</button>
                    </div>
                </form>
                {% else %}
                请先
                <a href="{% url 'users:login' %}"><button type="button" class="btn btn-primary">登录</button></a>
                后进行评论
                {% endif %}



            </div>
            <!-- 全部评论 -->
            <h3>评论列表</h3>
            <div class="comment-list">
                <!-- <p>该文章没有评论，赶紧进行评论吧！</p> -->
                <h4>共有{{ comments.count }}评论</h4>
                <div id="comment_dis">
                    {% for comment in comments %}
                    <hr>
                    <div class="commet_list" id="commet_{{ comment.id }}">
                        <p>
                            <strong style="color: red">
                                {{ comment.user }}
                            </strong> 于
                            <span style="color: green">
                                {{ comment.created_time|date:"Y-m-d H:i:s" }}
                            </span> 时说：
                        </p>

                        {{ comment.context|safe }}
                        <a href="#"><button type="button" class="btn btn-primary pull-right"> 回复 </button></a>
                        <!-- <a href="#comment_sent"><button type="button" class="btn btn-primary pull-right">  回复  </button></a> -->
                    </div>

                    {% endfor%}
                </div>

                <div class="row">


                </div>



            </div>
        </div>
    </div>
</div>


<!-- javascript 实现ajax增加评论内容  -->
<script>
    // var comment=document.getElementById("id_context");
    var comment = $("#id_context");
    $("#btn_comment").click(function () {
        $("#comment_error").text("");
        // 如果输入的内容为空,提示输入相关的内容
        if($("#id_context").val() == ""){
            $("#comment_error").text("请输入不能为空");
            return false;
        }

        // 打印textarea的值
        console.log("评论的内容为:", $("#id_context").val());
        console.log("forms发送的值为:",$("#comment_sent").serialize()+'&aid={{ essay.id }}' );

        $.ajax({
            url : "{% url 'article:update_comment' %}",
            type: 'post',
            async: true,
            data: $("#comment_sent").serialize()+'&aid={{ essay.id }}',
            cache: false,
            success: function (data) {
                console.log(data);
                if(data['status'] == 'success'){
                    console.log("发送成功");
                    var comment_html = $('<div class="commet_list" id="commet_'+data['commnet_id']+'"></div>');
                    // comment_html.before('<hr>');
                    var phtml = $("<p></p>");
                    phtml.append($('<strong style="color: pink"></strong>').text(data['username']));
                    phtml.append('于');
                    phtml.append($('<span style="color: green"></span').text(data['comment_time']));
                    phtml.append("时说：");
                    comment_html.append(phtml);
                    comment_html.append(data['text']);
                    comment_html.append($('<a href="#"></a>').append($('<button type="button" class="btn btn-primary pull-right"></button').text("回复")));

                    // console.log("htnls=", htmls);
                    $("#comment_dis").prepend(comment_html);
                    $("#comment_dis").prepend($("<hr>"));

                    // 清空输入框
                    $("#id_context").val("");
                    $("span .cm-link.cm-cm-overlay.cm-matchhighlight").text("");
                    console.log("文本框中的内容为：",  $("#id_context").val() );
                    console.log(data);
                }else{
                    $("comment_error").text(data['message']);
                    console.log("接收失败");
                }  
              },
              error: function(xhr){
                  console.log(xhr);
                  console.log("ajax访问失败!")
              }
        })
    })


</script>

{% endblock %}
{% block right-menu-add %}

<div class="panel panel-default ">
    <div class="panel-heading">
        目录
    </div>
    <div class="panel-body ">
        <div class="right-show-toc">
            {{ essay.toc|safe }}
        </div>

    </div>
</div>

{% endblock right-menu-add %}