{% load staticfiles %}

<!-- 博客网站的底部 -->
<div class="footer">
    <div class="container ">
        <div class="row">
            <div class=" col-sm-4 ">
                <div class="content">
                    <h3>本站内容</h3>
                    <p>1. 本站创建时间：</p>
                    <p>2. 本站使用Django搭建</p>
                    <p>3. 本站使用阿里云服务器</p>
                </div>
            </div>
            <div class=" col-sm-4 ">
                <div class="content">
                    <h3>文章介绍</h3>
                    <p>1. Python学习</p>
                    <p>2. java学习</p>
                    <p>3. 前端开发</p>
                </div>
            </div>
            <div class=" col-sm-4 ">
                <div class="content">
                    <h3>友链</h3>
                    {% if friendlink %}
                        {% for link in friendlink %}
                            <p><a href="{{ link.url }}">{{link.name}}</a></p>
                        {% endfor %}
                    {% else %}
                        <p>暂无友链</p>
                    {% endif %}
                </div>

            </div>


        </div>

        <div class="container copyright">
            <span>©copyright 刘龙韬的博客</span>
            <span>|</span>
            <span>备案：<a href="http://www.miitbeian.gov.cn/">鲁ICP备17024355号-1</a></span>
        </div>
    </div>

    <div id="toTop">
        <span class="glyphicon glyphicon-menu-up"></span>
    </div>

    <script src="{% static 'js/base.js' %}"></script>
</div>